body {
  font-family: Arial, sans-serif;
}

.error-message {
 color: #0056b3;
  
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  border: 1px solid #ccc;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #0056b3;
}


